.mainbody {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 60vh;
    color: white;
    gap: 6rem;
}
 
.mainbody h2 {
    font-size: 2.5rem;
}

.mainbody button{
    width: 250px;
    padding: 16px;
    font-size: 1.5rem;
    border-radius: 12px;
    border: none;
    transition: all 0.2s ease-in;
&:hover{
    opacity: 0.8;
}}

.connect{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.connect h3{
    font-size: 2rem;
}

.error{
    color: red;
}
.mintbutton{
    width: 250px;
    padding: 16px;
    font-size: 1.5rem;
    border-radius: 12px;
    border: none;
    transition: all 0.2s ease-in;
}
.connectButton{
    width: 250px;
    padding: 16px;
    font-size: 1.5rem;
    border-radius: 12px;
    border: none;
    transition: all 0.2s ease-in;
}